/* #inputControl {
    width: 100px !important;
    
 } */
button {
    background-color: #c22d64 !important;
    border: 1px solid #fff !important;
}

#btnPrint, #reload{
    position: absolute;
    right: 10px;
    top: 400px;
    border-radius: 50px;
    padding: 20px;
    
}

#icon {
    font-size:48px;
    color: #ffff;
}

#detllesEnvio {
  font-size: 20px;
  line-height: 19px;
}

input.error {
  border: 1px solid #B91450 !important;
  font-weight: 300;
  color: red;
}

label.error {
  color: #B91450;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}


@media print {
    #datEnvia {
      max-width: 50%;
      display: inline-block;
    }
    #datRecibe {
      max-width: 50%;
      display: inline-block;
    }
  }